%h2.headerTitle Latest Installation Messages
.logContainer.rounded
	.logMessages
		%ul
			- @logs.each do |l|
				%li
					.logEntry
						%a.projectlink{:title => l.project.name, :href => "/projects/#{l.project.id}"}= l.project.name
						%span.logmessage= l.entry
						%span.timestamp= l.timestamp.httpdate
