$title_font: "Georgia", "serif";
$body_font: "Lucida Grande", "Verdana", "Arial", "Helvetica", "sans-serif";
$code_font_family: "Monaco", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", "monospace";
$code_font_size: 14px;
$code_font: $code_font_size $code_font_family;

$light_link: #369;
$link: $light_link - 40;
$light_text: #666;
$dark_blue_text: #0E3062;
$light_background: #eee;
$timestamp_color: $light_link;
$timestamp_font_size: 75%;

$header_background: $light_background;
$header_text_color: black;

$footer_background: $light_background;
$footer_text_color: #333;


#container {
	width: 90%;
	margin: 10px auto;
	background-color: #fff;
	color: $light_text;
	border: 1px solid silver;
	line-height: 130%;
	font-family: $body_font;
	font-size: 100%;

	h1 {
		padding: 0;
		margin: 0;
		font-size: 200%;
	}

	h2 {
		color: $dark_blue_text;
		font-size: 150%;
	}

	a {
		color: $light_link;
	}	

}

header {
	color: $header_text_color;
	padding: 1em;
	background-color: $header_background;
	border-bottom: 1px solid silver;
	font-family: $title_font;
}

#leftnav {
	float: left;
	width: 160px;
	margin: 0;
	padding: 1em;

	p { 
		margin: 0 0 1em 0; 
	}
	
	h2 { 
		margin: 0 0 .5em 0; 
	}
}

#content {
	margin-left: 200px;
	border-left: 1px solid silver;
	padding: 1em;
	max-width: 36em;
	
	a.disabled {
		color: gray;
	}
	
	h2 { 
		margin: 1em 0 .5em 0; 
	}
	
	.logMessage {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.logControls {
		padding: 1em;
	}
}

footer {
	clear: both;
	margin: 0;
	padding: 1em;
	color: $footer_text_color;
	background-color: $footer_background;
	border-top: 1px solid silver;
	text-align: center;
	font-variant: small-caps;
	font-size: 95%;
}

.timestamp {
	color: $timestamp_color;
	font-size: $timestamp_font_size;
}


